.container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.container .results {
  padding-top: 50px;
}

.container table {
  margin: 0 auto;
}

.container table, .container table th, .container table td {
  border: 1px dotted black;
}

table, th, td {
  border: 1px solid black;
}
th {
  cursor: pointer;
}
